
      #map {
        padding: 0;
        display: block;
        margin: 0 auto;
      }

      ng-map{
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      a{
        text-decoration: none;
        color: #818181;
      }
      a:hover, a:active{
        text-decoration: none;
        color: #f1f1f1;
      }
      a:visited{
        text-decoration: none;
      }
      a:focus{
        color: #818181;
        text-decoration: none;
        outline: none;
      }


      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }


      .search-container{
        position: absolute;
        z-index: 10;
        margin: 55px 0 10px 0px;
      }

      .search-container > .searchbox-hamburger span{
        background-color: #fff;
        padding: 8px 13px 9px;
      }

      .hamburger-menu{
        cursor:pointer;
        height: 24px;
        font-size: 16px;
        margin: 0 5px 0 0;
      }

    
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 1px 13px;
        margin-left: 210px;
        text-overflow: ellipsis;
        width: 300px;
        height: 38px;
        z-index: 16;
        position: absolute;
        box-shadow: 0px 1px 5px #676767;
      }

      .searchBox-extend{
        margin-left: 210px !important;
      }


      @media only screen and (max-width: 375px) {
        #pac-input {
          width: 200px;
        }
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }


      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }


      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

      /* slider CSS */
      #footer{
        position:fixed;
        bottom:10px;
        text-align:center;
        z-index: 10;
        width: 100%;
        margin: 0 auto;
      }

      #slider-container{
        /*margin: 0 auto;*/
        padding: 20px;
        width: 30%
      }

      #footer md-slider-container{
        width: 80%;
      }

      #footer md-input-container input{
        padding: 0 5px 0 10px !important; 
      }

      /* header CSS */
      #header{
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 60px;
        /*background-color: #2c343a;*/
        background-color: #004d66;
        position: absolute;
        z-index: 15;
        opacity: 0.9;
        box-shadow: 0px 2px 8px #000000;
      }

      #titleName{
        padding: 15px 0 15px 25px;
        float: left;
        color: #FFFFFF;
        font-size: 18px;
      }

      #titleName #mobile-title{
        display: none;
      }

      #titleName > p{
        margin: 0;
        /*text-shadow: 2px 2px 1px #000000;*/
        -webkit-font-smoothing: auto;
      }

      #facilityDropDown[disabled]{
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        color: #cccccc;
        box-shadow: 1px 1px 1px #000000;
        opacity: 0.8;
      }


      nav{
        margin:0 auto;
        padding: 3px 15px 0 0;
        /*float:right;*/
        right: 0;
        position: absolute;
        width: 450px;
      }
      nav ul{
        padding:0;
        margin: 0;
        list-style-type: none;
      }
      nav ul li{
        margin: 0 auto;
        padding: 8px 20px;
        float:left;
        font-size: 80%;
      }

      nav ul li span{
        display: block;
        /*padding: 8px 20px;*/
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000000;
      }
      nav ul li span:hover{
        color: #F5F5F5;
        text-decoration: none;
      }

      /* Drop down menu */
      nav ul .dropdownList{
        padding: 7px 10px;
      }

      #facility-btn{
        color: #FFF;
      }

      @media only screen and (max-width: 900px) {
         #titleName #standard-title{ 
          display: none;
         }
         #titleName #mobile-title{
          font-size: 18px;
          padding: 5px 0 5px 5px;
          display: block;
         }
      }

      @media only screen and (max-width: 1080px) {
        #titleName{
          padding: 10px 0 8px 25px;
          width: 330px;
          font-size: 13px;
        }
      }
      @media only screen and (max-width: 414px) {
        nav{
          width: 190px;
          padding-right: 0;
        }
      }

      nav ul .menu-btn-group > #events-facilities-container{
        float: left;
        padding: 0 10px;
        display: none;
      }

      @media only screen and (max-width: 700px) {
        nav ul .dropdownList{
          display: none;
        } 
        nav ul .menu-btn-group > #events-facilities-container{
          display: block;
        } 
      }

      nav ul .menu-btn-group{
        float: right;
        padding-top: 15px;
      }

      nav ul #setting-menu{
        padding-top: 2px;
        outline: none;
      }

      nav ul .btn-event-adjust{
        /*background-color: #21272c;*/
        background-color: #00394d;
        box-shadow: 1px 1px 1px #000000;
        font-size: 15px;
        border-color: #424e57;
        position: relative;
      }

      nav ul .btn-event-adjust:hover{
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        /*background-color: #161a1d;*/
        background-color: #002633;
        color: #F5F5F5;
        border-color: #424e57;
      }

      #option-container{
        min-width: 174px;
      }

      #option-container li{
        padding: 3px 0;
      }

      #option-container .event-option{
        font-size: 13px;
        padding: 10px 21px;
      }

      .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
        background-color: #161a1d;
      }

      .open > .dropdown-toggle.btn-primary:focus{
        background-color: #161a1d;
      }

      .btn-primary:active, .btn-primary.active, .open > .dropdown-menu{ 
      }

      .dropdown-menu{
        z-index: -1;
        background-color: #161a1d;
        
      }

      .dropdown-menu li{
        padding: 10px 0;
        float: none;
      }


      .dropdown-menu li a{
        color: #FFFFFF;
      }

      .dropdown-menu li a:hover{
        -webkit-transition-duration: 0.5s; /* Safari */
        transition-duration: 0.5s;
        background-color: #2c343a;
        color: #f5f5f5;
      }

      .dropdown-toggle:focus {
        outline: 0;
        background-color: #161a1d;
      } 
      /* End drop down menu */
      /* end header CSS*/

      /* hamburger menu */
      .leftSideNav {
          height: 100%;
          width: 0;
          position: absolute;
          z-index: 1003;
          top: 0;
          /*left: 0;*/
          width: 250px;
          background-color: #161a1d;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          opacity: 0.99;
          box-shadow: 0 2px 6px #000000;
      }

      .leftSideNav .leftSideOpen{
        width: 250px;
      }

      .leftSideNav span {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
          cursor:pointer;
      }

      .leftSideNav span:hover, .offcanvas span :focus{
          color: #f1f1f1;
      }

      .leftSideNav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          outline: none;
      }

      .rightSideNav {
          height: 100%;
          width: 0;
          position: absolute;
          z-index: 1003;
          top: 0;
          right: 0;
          background-color: #00001a;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          opacity: 0.95;
          box-shadow: 0 2px 6px #000000;
      }

      .rightSideNav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      .rightSideNav a:hover, .offcanvas a:focus{
          color: #f1f1f1;
      }

      .rightSideNav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .leftSideNav {padding-top: 15px;}
        .leftSideNav a {font-size: 18px;}

        .rightSideNav {padding-top: 15px;}
        .rightSideNav a {font-size: 18px;}
      }
      /*end hamburger menu */

      /* factor menu */

      .modal {
        text-align: center;
        padding: 0!important;
      }

      .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
      }

      .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
      }

      .modal-content{
        width:400px;
        height:100%;
        margin: 0 auto;
        box-shadow: 0 5px 18px rgba(0, 0, 0, .3);
      }

      .modal.fade .modal-dialog {
        opacity: 0;
        -webkit-transform: scale(0.1);
          -ms-transform: scale(0.1);
           -o-transform: scale(0.1);
            transform: scale(0.1);
        -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
      }

      .modal.fade.in .modal-dialog {
        opacity: 1;
        -webkit-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
            transform: scale(1);
        -webkit-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
           -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
      }

      /* DIALOG CONTENT */

      md-dialog{
        min-width: 220px !important;
        border-radius: 4px;
        width: 550px;
      }

      md-dialog-content{
        border-radius: 4px;
      }

      /* safari */
      @media screen and (min-color-index:0) 
      and(-webkit-min-device-pixel-ratio:0) { @media
      {
          .safari_radius{ 
              border-radius: 0;
          }
      }}
      @media screen and (min-color-index:0) 
      and(-webkit-min-device-pixel-ratio:0) { @media
      {
          .safari_top_radius{
            border-top-left-radius: 1px !important;
            border-top-right-radius: 1px !important;
          }
      }}

      .modal-content {
        /*width: 100%;*/
        border: none;
        border-radius: 2px;
        -webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
           -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
            box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
      }

      .modal-header{
        font-size: 14px;
        /*background: #2c343a;*/
        background: #00394d;
        padding: 5px 15px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        cursor: move;
        text-align: center;
      }

      #factor-setting-title-container{
        width: 120px;
        margin: 0 auto;
      }

      #factor-menu-title-icon{
        color: #FFF;
      }

      .modal-header .close{
        color: #FFF;
        outline: none;
      }

      .modal-title{
        color: #FFF;
        text-shadow: 1px 1px 8px #000000;
        /*padding: 0 0 0 40px;*/
      }

      .modal-footer {
        margin-top: 20px;
        padding: 8px 0 0 0;
        text-align: center;
        border-top: none;
      }

      .modal-footer .btn {
        height: 36px;
        margin-right: 8px;
        padding: 8px 10px;
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: #009688;
        background-color: #fff;
      }

      .modal-footer .btn:focus {
        outline: none;
        box-shadow: none;
      }

      .modal-footer .btn:focus,
      .modal-footer .btn:hover {
        color: #00796B;
      }

      .modal-footer .btn + .btn {
        margin-left: 0;
      }

      .modal-footer .btn + .btn:last-child {
        margin-left: -4px;
      }

      .table-container{
        padding: 10px 15px 0 10px;
      }

      #factorTable{
        width: 100%;
      }

      #factorTable .minValue{
        width: 25% !important;
      }

      #factorTable .minValue input{
        /*width: 40%;*/
      }

      #factorTable .maxValue{
        padding: 0 0 0 10px !important;
        width: 30% !important;
      }

      #factorTable .maxValue input{ 
        /*width: 55%;*/
      }

      #factorTable .factor-key{
        text-align: right;
        padding: 8px 10px 8px 40px;
        width: 51%;
        border: 1px solid #000;
      }

      #factorTable .factor-value{
        padding: 0 0 0 20px;
        /*width: 48%;*/
      }

      #factorTable .non-input-adjust{
        /*padding: 0 0 0 23px;*/
      }

      #factorTable td{
        height: 30px;
      }

      #factorTable .factor-input{
        width: 75%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #bfbfbf;
      }

      #factorTable .factor-input.deadline-input, #factorTable .factor-input.level-input{
        width: 88%;
      }

      #factorTable .factor-cate-input{
        width: 88%;
        border: 0;
        outline: 0;
        background: transparent;
      }

      #factorTable .factor-unit{
        padding-left: 5px;
        color: #4d4d4d;
      }

      #factorTable md-select{
        margin: 0 !important;
        /*border-bottom: 1px solid #bfbfbf;*/
        outline: none;
      }

      .md-text{
        font-size: 14px !important;
      }

      .md-select-menu-container{
        width: 155px;
      }

      #factorTable md-select-menu md-option{
        padding: 0 12px !important;
      }

      #factorTable md-select .md-select-value{
        border-bottom: 1px solid #bfbfbf;
        padding: 0;
        outline: none;
      }

      #factorTable md-select:focus .md-select-value{
        border-bottom: 1px solid #bfbfbf;
        
      }

      .infoWin-header-container{
        margin: 0 0 5px 0;
      }

      #infoWin-header{
        color: #004d66;
        font-weight: 500;
      }

      #infoWin-header.facility-header{
        float: left;
        padding: 0 5px 0 0 ;
        margin-bottom: 0;
      }

      .infoWin-header-container .facility-name{
        font-size: 13px;
       }

      #facility-info-container{
        padding: 0 1px 0 0;
      }

      #resource-info-table{
        font-size: 13px;
        margin-top: 5px;
        /*width: 95%;*/
        border-collapse: collapse;
      }

      #resource-info-table th{
        text-align: center;
        background-color: #007399;
        border: 1px solid #007399;
        /*color: #004d66;*/
        color: #FFF;
        padding: 2px 5px;

      }

      #resource-info-table .recourse-header{
        border-bottom: 2px solid #FFF;
      }

      #resource-info-table .sub-header{
        text-align: left;
      }

      #resource-info-table td{
        padding: 3px 5px;
      }

      .button{
        background-color: #007399;
        border: none;
        color: white;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px 4px 0;
        border-radius: 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        outline: none;
      }

      .continue-btn {
        background-color: #007399; 
        color: white; 
        border: 1px solid #007399;
        outline: none;
      }

      .continue-btn:hover {
        background-color: white;
        color: #006080;
      }

      .event-setting-reset, .event-start{
        border: 1px solid #007399;
        text-transform: uppercase;
        font-weight: 500;
        color: white;
      }

      .event-setting-reset:hover, .event-start:hover{
        background-color: white;
        color: #007399;
      }

      .event-setting-reset:active, .event-start:active{
        background-color: white;
        color: #007a6e;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transform: scale(0.9, 0.9) translate3d(0, 0, 0);
                transform: scale(0.9, 0.9) translate3d(0, 0, 0);
      }


      .event-start[disabled], .event-start[disabled]:hover{
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        color: #cccccc;
      }

      form .ng-invalid
      {
          border-bottom:1px solid #f00 !important;
      }

      .modal-footer:last-child button{
        margin-left: 4px;
      }

      /* end factor menu */

      .icon-container{
        padding: 1px 0 0 0;
        float: left;
        width: 20px;
      }

      .confirm-menu-container{
        margin-top: 200px;
        /*height: 180px !important;*/
      }

      #confirm-content .modal-footer{
        margin-top: 10px !important;
        padding-right: 55px;
      }

      #confirm-content{
        width: 90%;
        margin: 10px auto;
        /*padding: 5px 20px;*/
        height: 90px;
      }

      #confirm-content p{
        text-align: center;
        width: 85%;
        font-size: 17px;
        margin: 0 auto;
      }
      #single-start{
        bottom: 50px;
        right: 47%;
        position: absolute;
        z-index: 100;
      }

      #single-start button{
        padding: 17px 37px;
        box-shadow: 1px 1px 8px #000000;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        opacity: 1;
        font-size: 16px;
        /*margin-left: auto;
        margin-right: auto;*/
      }

      .single-event-start[disabled]{
        background-color: #e2dede;
        border-color: #f2f2f2;
        color: #ffffff;
        box-shadow: 1px 1px 8px #abaaaa !important;
      }

      .single-event-start[disabled]:hover{
        background-color: #e2dede;
        border-color: #f2f2f2;
        color: #ffffff;
      }

      .single-event-start:hover{
        background-color: white;
        color: #007399;
        box-shadow: 1px 1px 8px #656565 !important;
      }

      .single-event-start:active{
        background-color: white;
        color: #007a6e;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transform: scale(0.9, 0.9) translate3d(0, 0, 0);
                transform: scale(0.9, 0.9) translate3d(0, 0, 0);
      }

      #multi-start{
        bottom: 30px;
        right: 47%;
        position: absolute;
        z-index: 100;
      }

      #multi-start button{
        padding: 17px 37px;
        box-shadow: 1px 1px 8px #000000;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        opacity: 1;
        font-size: 16px;
        /*margin-left: auto;
        margin-right: auto;*/
      }

      .multi-event-start[disabled]{
        background-color: #e2dede;
        border-color: #f2f2f2;
        color: #ffffff;
        box-shadow: 1px 1px 8px #abaaaa !important;
      }

      .multi-event-start[disabled]:hover{
        background-color: #e2dede;
        border-color: #f2f2f2;
        color: #ffffff;
      }

      .multi-event-start:hover{
        background-color: white;
        color: #007399;
        box-shadow: 1px 1px 8px #656565 !important;
      }

      .multi-event-start:active{
        background-color: white;
        color: #007a6e;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transform: scale(0.9, 0.9) translate3d(0, 0, 0);
                transform: scale(0.9, 0.9) translate3d(0, 0, 0);
      }
      /* event progress */

      #progress-menu-container{
        position: relative;
        height: 285px;
        overflow: hidden;
      }

      .progress-first-extend{
        transition: all linear 0.9s;
        height: 425px !important;
      }

      .progress-second-extend{
        transition: all linear 0.6s;
        height: 575px !important;
      }

      .progress-content-extend{
        transition: all linear 0.9s;
        margin-top: 150px !important;
      }

      .progress-content-auto{
        transition: all linear 0.5s;
        height: auto !important;
        min-height: 450px;
      }

      #progress-menu-container .modal-header{
        /*padding: 3px 15px;*/
      }

      #progress-title-content{
        width: 190px;
        margin: 0 auto;
      }

      #progress-menu-container .modal-header .progress-title{
        font-size: 13px;
      }


      #progress-title-icon{
      }

      .progress-menu{
        right: auto !important;
        bottom: auto !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        margin: 200px 0 20px 10px;
        width: 560px;
        position: absolute !important;
        opacity: 0.9;
        /*-webkit-filter: blur(5px);
        filter: blur(5px);*/
      }

      .overview-menu{
        /*right: auto !important;
        bottom: auto !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        margin: 200px 0 20px 10px;*/
        margin: auto;
        width: 550px;
        position: absolute !important;
        overflow: hidden !important;
        opacity: 1;
      }

      .overview-menu #progress-menu-container{
        height: auto;
      }

      #overview-content{
        padding: 10px;
        width: 100%;
        margin-top: 12px;
      }

      #overview-content #event-info-container{
        width: 100%;
      }

      #overview-content #event-info-container #event-info-table{
        width: 95%;
        margin: 0 auto;
      }

      #overview-content th{
        border: 0;
        border-bottom: 2px solid #FFF !important;
      }

      #overview-content tr:nth-child(odd){
        background-color: #f7f7f7;
      }

      #overview-content td{
        text-align: center;
        padding: 5px 10px;
      }

      [id^=ngdialog] .ngdialog-content{
        box-shadow: 2px 2px 5px rgba(0,0,0,.2) !important;
        padding: 0 !important;
        background-color: #FFF !important;
        width: 550px !important;

        /*height: 350px;*/

      }

      [id^=ngdialog] .modal-header{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        color: #FFF;
      }

      #progress-content{
        padding: 10px;
        /*display:table;*/
        width: 100%;

        margin-top: 12px;
        /*padding-top: 80px;*/

      }

      @media only screen and (min-width: 2000px) {
        .progress-menu{
          margin: 400px 0 20px 60px;
        }
      }

      .info-row{
        /*display:table-row;*/
        margin: 0 auto;
      }

      #event-info-container{
        transition: all linear 0.8s;
        /*position: relative;*/
        width: 52%;
        float: left;
        /*display:table-cell;*/
      }

      #task-info-container{
        transition: all linear 0.9s;
        /*position: relative;*/
        width: 48%;
        float: left;
        /*display:table-cell;*/
      }

      #facility-info-container{
        transition: all linear 1s;
        /*width: 50%;*/
        padding: 10px 0 0 0;
        margin: 0 auto;
        overflow: hidden;
      }

      #event-info-table{
        font-size: 12px;
      }

      #event-info-table .table-content{
        letter-spacing: 0.5px;
        /*line-height: 2;*/
      }

      #event-info-table .factor-key{
        border: 1px solid #999999;
        padding: 2px 7px;
        width: 140px;
      }

      #event-info-table .factor-value{
        padding: 0 10px;
        border-right: 1px solid #999999;
      }

      #event-info-container #event-info-table .factor-value{
        padding: 0 10px;
        border-right: 1px solid #999999;
        width: 130px;
      }

      #event-info-table tr:first-child .factor-value{
        border-top: 1px solid #999999;
      }

      #event-info-table tr:last-child .factor-value{
        border-bottom: 1px solid #999999;
      }

      #event-info-table th{
        text-align: center !important;
        background-color: #007399;
        border: 1px solid #007399;
        /*color: #004d66;*/
        color: #FFF;
      }

      #progressStatus{
        width: 100%;
      }

      #stageInfo{
        padding: 20px 0 10px 0;

        font-size: 14px;
        text-align: center;
        color: #4d6b79;
      }

      #progressBar{
        padding: 0 120px;
      }

      /*#stage{
        transition: all linear 0.5s;
      }*/

      #event-info-container.ng-hide{
        opacity: 0;

      }

      #task-info-container.ng-hide {
        opacity: 0;
      }

      #facility-info-container.ng-hide{
        opacity: 0;
      }

      #radar.ng-hide{
        opacity: 0;
      }

      #dot-search.ng-hide{
        opacity: 0;
      }

      .facility-row{
        padding: 2px 0 0 0;
        width: 50%;
        margin: 0 auto;
      }

      #facility-info-container .table-content{
        letter-spacing: 0.5px;
        /*line-height: 2;*/
      }

      #facility-info-container #event-info-table{
        width: 100%;
      }

      #facility-info-container #event-info-table .factor-key{
        width: 120px;
      }

      #task-info-container #event-info-table .factor-value{
        width: 113px;
      }

      .simulation-menu.ng-hide{
        opacity: 0;
      }

      .progressCirculardemoBasicUsage body {
        padding: 20px; }

      .progressCirculardemoBasicUsage h4 {
        margin: 10px 0; }

      .progressCirculardemoBasicUsage md-progress-circular {
        margin-bottom: 20px; }

      .progressCirculardemoBasicUsage #loaders > md-switch {
        margin: 0;
        margin-left: 10px;
        margin-top: -10px; }

      .progressCirculardemoBasicUsage #loaders > h5 {
        margin-top: 0; }

      .progressCirculardemoBasicUsage #loaders > p {
        margin-right: 20px;
        margin-bottom: 24px; }

      .progressCirculardemoBasicUsage p.small {
        font-size: 0.8em;
        margin-top: -18px; }

      .progressCirculardemoBasicUsage hr {
        width: 100%;
        margin-top: 20px;
        border-color: rgba(221, 221, 177, 0.1); }

      .progressCirculardemoBasicUsage p.small > code {
        font-size: 0.8em; }

      .progressCirculardemoBasicUsage .visible {
        border-color: rgba(221, 221, 177, 0); }


      #search_radar{
        width: 50%;
      }

      #search_radar #radar{
        transition: all linear 1.2s;
        display: block;
        left: 50%;
        margin:0 auto;
        margin: -125px 0 0 -125px;
        position: absolute;
        z-index: 10;
        top: 170px;
      }

      #dot-search{
        transition: all linear 2s;
      }

      #task-info-container.ng-hide {
        opacity: 0;
      }

      .progressCirculardemoBasicUsage body {
        padding: 20px; }

      .progressCirculardemoBasicUsage h4 {
        margin: 10px 0; }

      .progressCirculardemoBasicUsage md-progress-circular {
        margin-bottom: 20px; }

      .progressCirculardemoBasicUsage #loaders > md-switch {
        margin: 0;
        margin-left: 10px;
        margin-top: -10px; }

      .progressCirculardemoBasicUsage #loaders > h5 {
        margin-top: 0; }

      .progressCirculardemoBasicUsage #loaders > p {
        margin-right: 20px;
        margin-bottom: 24px; }

      .progressCirculardemoBasicUsage p.small {
        font-size: 0.8em;
        margin-top: -18px; }

      .progressCirculardemoBasicUsage hr {
        width: 100%;
        margin-top: 20px;
        border-color: rgba(221, 221, 177, 0.1); }

      .progressCirculardemoBasicUsage p.small > code {
        font-size: 0.8em; }

      .progressCirculardemoBasicUsage .visible {
        border-color: rgba(221, 221, 177, 0); }


      .pause-effect{
        position: relative;
      }

      .pause-effect:after{
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #bfbfbf;
        opacity: 0.5;
      }


      #progess-menu-pause-icon{
        position: absolute;
        margin: 40px 0 0 20px;
        /*color: white;*/
      }

      .resouces-info-row{
        position: absolute;
        /*overflow-y: scroll;*/
        top: 25%;
        left: 9%;
      }

      #resource-info-container{
        height: 280px;
        position:relative;
        overflow-y: auto;
      }

      #resource-info-container #event-info-table #resource-header{
        border-bottom: 2px solid #FFF !important;
      }

      #resource-info-container #facility{
        border-right: 0px;
        width: 120px;
        line-height: 1em;
      }


      #resource-info-container #expenditure{
        width: 100px;
        padding: 0 10px 0 15px !important;
        border-right: 0;
      }

      #resource-info-container #type{
        border-left: 1px solid #999;
      }

      #resource-info-container tr:last-child #type{
        border-bottom: 1px solid #999;
      }

      #resource-info-container td{
        padding: 7px 10px !important;
      }

      #resource-info-container.ng-hide{
        opacity: 0;
      }

      /*#resource-info-container tr:nth-child(odd){
        background-color: #f3f3f3;
      }*/

      #resource-info-container .table-content{
        letter-spacing: 0.5px;
        /*line-height: 2;*/
      }
      /* end event progress */

      /* simluation setting panel end */
      .simulation-menu {
        -webkit-filter: url("#goo");
                filter: url("#goo");
      }

      .simulation-menu-item, .simulation-menu-open-button {
        background: #006080;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-left: -40px;
        position: absolute !important;
        top: 20px;
        color: white;
        text-align: center;
        line-height: 51px;
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform ease-out 200ms;
        transition: -webkit-transform ease-out 200ms;
        transition: transform ease-out 200ms;
        transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;

        box-shadow: 1px 2px 2px #262626;
        -moz-box-shadow: 1px 2px 2px #262626;
        -webkit-box-shadow: 1px 2px 2px #262626;
        -o-box-shadow: 1px 2px 2px #262626;
      }

      .simulation-menu-open {
        display: none;
      }

      .sim-hamburger {
        width: 25px;
        height: 3px;
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        -webkit-transition: -webkit-transform 300ms;
        transition: -webkit-transform 300ms;
        transition: transform 300ms;
        transition: transform 300ms, -webkit-transform 300ms;
      }

      .sim-hamburger-1 {
        opacity: 0;
        -webkit-transform: translate3d(0, 0px, 0);
                transform: translate3d(0, 0px, 0);
      }

      .sim-hamburger-2 {
        display: none;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }

      .sim-hamburger-3 {
        opacity: 0;
        -webkit-transform: translate3d(0, 0px, 0);
                transform: translate3d(0, 0px, 0);
      }

      .simulation-menu-open:checked + .simulation-menu-open-button .gear{
        display: none;
      }

      .simulation-menu-open:checked + .simulation-menu-open-button .sim-hamburger-1 {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
                transform: translate3d(0, 0, 0) rotate(45deg);
      }
      .simulation-menu-open:checked + .simulation-menu-open-button .sim-hamburger-2 {
        display: none;
        -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
                transform: translate3d(0, 0, 0) scale(0.1, 1);
      }
      .simulation-menu-open:checked + .simulation-menu-open-button .sim-hamburger-3 {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
                transform: translate3d(0, 0, 0) rotate(-45deg);
      }

      .simulation-menu {
        z-index: 10;
        position: absolute;
        right: 1%;
        bottom: 5%;
        padding: 20px 0 0 0;
        margin: 0 90px 70px 20px;
        width: 50px;
        height: 110px;
        box-sizing: border-box;
        font-size: 20px;
        text-align: left;
      }


      .simulation-menu-item:hover {
        background: white;
        color: #006080;
      }

      .simulation-menu-item:nth-child(3) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(4) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(5) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(6) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(7) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(8) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }
      .simulation-menu-item:nth-child(9) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
      }

      .simulation-menu-open-button {
        z-index: 2;
        -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition-duration: 400ms;
                transition-duration: 400ms;
        -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
                transform: scale(1.1, 1.1) translate3d(0, 0, 0);
        cursor: pointer;
      }

      .simulation-menu-open-button:hover {
        -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
                transform: scale(1.2, 1.2) translate3d(0, 0, 0);
      }

      .simulation-menu-open:checked + .simulation-menu-open-button {
        -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
        -webkit-transition-duration: 200ms;
                transition-duration: 200ms;
        -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
                transform: scale(0.8, 0.8) translate3d(0, 0, 0);
      }

      .simulation-menu-open:checked ~ .simulation-menu-item {
        -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
                transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
      }

      .simulation-menu-open:checked + .simulation-menu-open-button md-tooltip{
        display: none;
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(3) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
        -webkit-transform: translate3d(0.08361px, -88.99997px, 0);
                transform: translate3d(0.08361px, -88.99997px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(4) {
        -webkit-transition-duration: 280ms;
                transition-duration: 280ms;
        -webkit-transform: translate3d(70.9466px, -40.47586px, 0);
                transform: translate3d(70.9466px, -40.47586px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(5) {
        -webkit-transition-duration: 380ms;
                transition-duration: 380ms;
        -webkit-transform: translate3d(70.9466px, 40.47586px, 0);
                transform: translate3d(70.9466px, 40.47586px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(6) {
        -webkit-transition-duration: 480ms;
                transition-duration: 480ms;
        -webkit-transform: translate3d(0.08361px, 88.99997px, 0);
                transform: translate3d(0.08361px, 88.99997px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(7) {
        -webkit-transition-duration: 580ms;
                transition-duration: 580ms;
        -webkit-transform: translate3d(-70.86291px, 40.62064px, 0);
                transform: translate3d(-70.86291px, 40.62064px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(8) {
        -webkit-transition-duration: 680ms;
                transition-duration: 680ms;
        -webkit-transform: translate3d(-71.03006px, -40.33095px, 0);
                transform: translate3d(-71.03006px, -40.33095px, 0);
      }
      .simulation-menu-open:checked ~ .simulation-menu-item:nth-child(9) {
        -webkit-transition-duration: 780ms;
                transition-duration: 780ms;
        -webkit-transform: translate3d(-0.20084px, -88.9997px, 0);
                transform: translate3d(-0.20084px, -88.9997px, 0);
      }

      /*.menu-open:checked ~ .menu-item:nth-child(3) {
        -webkit-transition-duration: 180ms;
                transition-duration: 180ms;
        -webkit-transform: translate3d(23.9466px, -90.47586px, 0);
                transform: translate3d(23.9466px, -90.47586px, 0);
      }
      .menu-open:checked ~ .menu-item:nth-child(4) {
        -webkit-transition-duration: 280ms;
                transition-duration: 280ms;
        -webkit-transform: translate3d(-40.08361px, -71.99997px, 0);
                transform: translate3d(-40.08361px, -71.99997px, 0);
      }
      .menu-open:checked ~ .menu-item:nth-child(5) {
        -webkit-transition-duration: 380ms;
                transition-duration: 380ms;
        -webkit-transform: translate3d(-74.9466px, -15.47586px, 0);
                transform: translate3d(-74.9466px, -15.47586px, 0);
      }
      .menu-open:checked ~ .menu-item:nth-child(6) {
        -webkit-transition-duration: 480ms;
                transition-duration: 480ms;
        -webkit-transform: translate3d(-80.08361px, 49.99997px, 0);
                transform: translate3d(-80.08361px, 49.99997px, 0);
      }*/
      /* simluation setting panel end */



      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }

      blink {
          -webkit-transition: 700ms ease-in-out all;
          -moz-transition: 700ms ease-in-out all;
          -o-transition: 700ms ease-in-out all;
          transition: 700ms ease-in-out all;
          display: block !important;
      }

      .clearfix:after {
         content: " "; /* Older browser do not support empty content */
         visibility: hidden;
         display: block;
         height: 0;
         clear: both;
      }

      .ripple{
        position:relative;
        overflow:hidden;
        transform:translate3d(0,0,0);
      }

      .ripple:after{
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        pointer-events:none;
        background-image:radial-gradient(circle,#000 10%,transparent 10.01%);
        background-repeat:no-repeat;
        background-position:50%;
        transform:scale(10,10);
        opacity:0;
        transition:transform .5s,opacity 1s;
      }

      .ripple:active:after{
        transform:scale(0,0);
        opacity:.2;
        transition:0s;
      }

    body * {
      box-sizing: border-box;
    }
    .icon {
      position: absolute;
      top: 70%;
      left: 70%;
      transform: translateX(-50%) translateY(-50%);
    }
    .hamburger {
      content: ' ';
      position: relative;
      width: 20px;
      border: 2px solid #392338;
      border-radius: 5px;
      transition: all 0.333333333333333s ease;
    }
    .hamburger:after,
    .hamburger:before {
      content: ' ';
      position: absolute;
      left: 50%;
      width: 125%;
      border: 2px solid #392338;
      border-radius: 5px;
      transform: translateX(-50%);
      transition-property: top, bottom, transform;
      transition-duration: 1s, 1s, 0.25s;
    }
    .hamburger:after {
      top: -8px;
    }
    .hamburger:before {
      bottom: -8px;
    }
    .menu {
      pointer-events: none;
    }
    .menu--circle {
      position: absolute;
      z-index: 13;
      width: 243.33333333333334px;
      height: 243.33333333333334px;
      overflow: hidden;
    }
    .menu__active {
      position: relative;
    }
    .menu__toggle {
      z-index: 11;
      position: absolute;
      top: -100px;
      left: -100px;
      width: 190px;
      height: 190px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 7px #676767;
      transition: transform 1.3s;
      cursor: pointer;
      pointer-events: auto;
      outline: none;
    }
    .menu__listings {
      z-index: 10;
      position: absolute;
      top: -200px;
      left: -200px;
      width: 390px;
      height: 390px;
      border-radius: 50%;
      box-shadow: 1px 1px 10px #676767;
      transform: scale(0.1) rotate(150deg);
      transition: transform 1s;
    }
    .menu__arrow {
      visibility: hidden;
      position: absolute;
    }
    .menu__arrow input[type="radio"] {
      position: fixed;
      top: -99999px;
      left: -99999px;
    }
    .menu__arrow ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .menu__arrow--top {
      top: 65px;
      left: 190px;
    }
    .menu__arrow--top .arrow {
      transform: rotate(-45deg);
    }
    .menu__arrow--left {
      top: 220px;
      left: 0.5em;
    }
    .menu__arrow--left .arrow {
      transform: rotate(-135deg);
    }
    .arrow {
      width: 20px;
      height: 20px;
      border-right: 6.666666666666667px solid #fff;
      border-top: 6.666666666666667px solid #fff;
      border-radius: 3px;
      transition: border-color 0.3s;
      cursor: pointer;
      pointer-events: auto;
    }
    .arrow:hover {
      border-color: #007399;
      transition: border-color 0.3s;
    }
    .circle {
      position: relative;
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      background-color: #fff;
      border-radius: 50%;
      transform: rotate(108deg);
      overflow: hidden;
      list-style: none;
    }
    .circle li {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      transform-origin: 0 100%;
    }
    .circle li .placeholder {
      position: absolute;
      left: -100%;
      padding-top: 1.5em;
      width: 200%;
      height: 200%;
      text-align: center;
      transform: skewY(54deg) rotate(18deg);
    }
    .circle li .placeholder .upside {
      transform: rotate(180deg);
    }
    .circle li .placeholder a {
      text-decoration: none;
      pointer-events: auto;
    }
    .circle li .placeholder button {
      pointer-events: auto;
    }
    .circle li .placeholder .button {
      font-size: 2.1em;
      background-color: transparent;
      border: none;
      color: #392338;
      cursor: pointer;
      outline: none;
    }
    .circle li:nth-child(1) {
      transform: rotate(0deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(2) {
      transform: rotate(36deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(3) {
      transform: rotate(72deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(4) {
      transform: rotate(108deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(5) {
      transform: rotate(144deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(6) {
      transform: rotate(180deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(7) {
      transform: rotate(216deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(8) {
      transform: rotate(252deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(9) {
      transform: rotate(288deg) skewY(-54deg);
      background-color: #fff;
    }
    .circle li:nth-child(10) {
      transform: rotate(324deg) skewY(-54deg);
      background-color: #fff;
    }
    #menu__active {
      position: fixed;
      top: -99999px;
      left: -99999px;
    }
    #menu__active:checked ~ label .menu__listings {
      transform: rotate(10deg) scale(1);
      transition: transform 1s;
    }
    #menu__active:checked ~ label .menu__toggle {
      background-color: #00394d;
      transition: all 1s;
    }
    #menu__active:checked ~ label .hamburger {
      border-color: transparent;
      transition: border-color 0.333333333333333s;
    }
    #menu__active:checked ~ label .hamburger:after {
      top: -2px;
      border-color: #fff;
      transform: translateX(-50%) rotate(45deg);
      transition-property: top, transform;
      transition-duration: 0.25s, 1s;
    }
    #menu__active:checked ~ label .hamburger:before {
      bottom: -2px;
      border-color: #fff;
      transform: translateX(-50%) rotate(-45deg);
      transition-property: bottom, transform;
      transition-duration: 0.25s, 1s;
    }
    #menu__active:checked ~ label .button:hover {
      color: #0086b3;
    }
    #menu__active:checked ~ label .menu__arrow {
      visibility: visible;
      transition: all 1s 1.111111111111111s;
    }
    #menu__active:checked ~ label .menu__arrow--top label {
      display: none;
    }
    #menu__active:checked ~ label .menu__arrow--top label[for="degree--up-0"] {
      display: block;
    }
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__listings {
      transform: rotate(116deg);
    }
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label {
      display: none;
    }
    #menu__active:checked ~ label #degree--up-0:checked ~ .menu__arrow--top label[for="degree--up-1"] {
      display: block;
    }
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings {
      transform: rotate(224deg);
    }
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label {
      display: none;
    }
    #menu__active:checked ~ label #degree--up-1:checked ~ .menu__listings ~ .menu__arrow--top label[for="degree--up-2"] {
      display: block;
    }


    .hamburger-menu-icon-left{
      padding-left: 30px;
    }

    .animate-show {
      -webkit-transition: cubic-bezier(0.34, 0.03, 0.38, 1.01) 1s;
      transition: cubic-bezier(0.34, 0.03, 0.38, 1.01) 1s;
      opacity: 1;
    }

    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
        display: inline-block !important;
    }
    .animate-show.ng-hide {
        opacity: 0;
    }

    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .fadeIn {
      animation-duration: 1.5s;
      animation-name: fadeIn;
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }

    .fadeOut {
      animation-duration: 0.5s;
      animation-name: fadeOut;
    }

    @keyframes slideInDown {
      from {
        transform: translate3d(0, -2%, 0);
        visibility: visible;
      }

      to {
        transform: translate3d(0, 0%, 0);
      }
    }

    .slideInDown {
      animation-duration: 0.3s;
      animation-name: slideInDown;
    }

    @keyframes slideInUp {
      from {
        transform: translate3d(0, 70%, 0);
        visibility: visible;
      }

      to {
        transform: translate3d(0, 0, 0);
      }
    }

    .slideInUp {
      animation-duration: 0.3s;
      animation-name: slideInUp;
    }

    @keyframes slideOutDown {
      from {
        transform: translate3d(0, 0, 0);
      }

      to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
      }
    }

    .slideOutDown {
      animation-name: slideOutDown;
    }



    dot, dot::before, dot::after {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

body {
  font-family: sans-serif;
}

dot {
  width: 300px;
  height: 150px;
  margin: auto;
  /*display: block;*/
  left: 24%;
  background: no-repeat;
  background-image: radial-gradient(closest-side, #333333 90%, rgba(0, 0, 0, 0)), radial-gradient(closest-side, #333333 90%, rgba(0, 0, 0, 0));
  background-size: 75px 75px;
  background-position: 0%, 50%;
  position: absolute;
  transform: translateZ(0) scale(0.25);
  animation-name: slide;
}
dot::before, dot::after {
  content: '';
  width: 75px;
  height: 75px;
  background: radial-gradient(closest-side, #333333 90%, rgba(0, 0, 0, 0));
  position: absolute;
  top: 50%;
  margin-top: -37.5px;
  animation-name: reveal;
}
dot::before {
  left: 1%;
  animation-delay: 40ms;
}
dot::after {
  right: 1%;
  animation-direction: reverse;
}

@keyframes slide {
  from {
    background-position: 0%, 50%;
  }
  to {
    background-position: 50%, 100%;
  }
}
@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}


