<div id="progress-menu-container" class="{{singleVm.containerExtend}} {{singleVm.pause}} {{singleVm.autoExtend}}">
  <div id="progess-menu-pause-icon" ng-show = "singleVm.pauseIcon">
    <blink><i class="fa fa-pause fa-2x" aria-hidden="true"></i></blink>
  </div>
	<div class="modal-header safari_top_radius">
		<div id="progress-title-content">
			<div class="icon-container">
				<span class="glyphicon glyphicon-info-sign" id="progress-title-icon"></span>
			</div>
			<span class="progress-title">Event Progress Information</span>
		</div>	
	</div>

  <div id="progressStatus">
    <div id="stageInfo">
      <blink id="stage"><b>{{singleVm.stage}}</b></blink>
    </div>
    <div id="progressBar">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
    <div id="search_radar">
      <canvas id="radar" width="230" height="230" ng-show = "singleVm.radarShow" ng-cloak ></canvas>
    </div>
    <dot id="dot-search" ng-show = "singleVm.dotShow" ng-cloak></dot>
  </div>
	<div id="progress-content" class="{{singleVm.contentExtend}}">
    <div class="info-row clearfix">
  		<div id="event-info-container"  ng-show = "singleVm.eventShow" ng-cloak>
  			<table id="event-info-table"> 
          <tr>
            <th colspan="2">Event Information</th>
          </tr>
          <tr>
            <td class="factor-key">Event Severity</td>
            <td class="factor-value">Level {{singleVm.factor['Severity Level']}}</td>
          </tr>
          <tr>
            <td class="factor-key">Event Category </td>
            <td class="factor-value">{{singleVm.factor['Category']}}</td>
          </tr>
          <tr ng-repeat="service in singleVm.services">

          </tr>
        </table>
  		</div>
      <div id="task-info-container" ng-show = "singleVm.taskShow" ng-cloak>
        <table id="event-info-table"> 
          <tr>
            <th colspan="2">Task Information</th>
          </tr>
          <tr>
            <td class="factor-key">Num. of resources</td>
            <td class="factor-value">{{singleVm.totalResources}}</td>
          </tr>
          <tr>
            <td class="factor-key">Average deadline</td>
            <td class="factor-value">{{singleVm.factor['Deadline']}} mins</td>
          </tr>
          <tr >
            <td class="factor-key">Ambulance</td>
            <td class="factor-value">{{singleVm.ambulance}}</td>
          </tr>
          <tr >
            <td class="factor-key">Police Car</td>
            <td class="factor-value">{{singleVm.police}}</td>
          </tr>
          <tr >
            <td class="factor-key">Fire Truck</td>
            <td class="factor-value">{{singleVm.fireTruck}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="facility-row">
      <div id="facility-info-container" ng-show = "singleVm.facilityShow" ng-cloak>
        <table id="event-info-table"> 
          <tr>
            <th colspan="2">Facility Resouce Information</th>
          </tr>
          <tr ng-repeat="(key, value) in singleVm.facilitiesSum ">
            <td class="factor-key">{{key}}</td>
            <td class="factor-value">{{value}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div>

    </div>
	</div>
  <div class="resouces-info-row">
      <div id="resource-info-container" ng-show = "singleVm.resourceShow" ng-cloak>
        <table id="event-info-table"> 
          <tr>
            <th colspan="3" id="resource-header">Allocated Resources Information</th>
          </tr>
          <tr>
            <th>Type</th>
            <th>Expenditure</th>
            <th>Velocity</th>
          </tr>
          <tr ng-repeat="resource in singleVm.allocatedResources ">
            <td id="type">{{resource.Type}}</td>
            <td class="factor-value" id="expenditure">{{resource.Expenditure}}</td>
            <td class="factor-value">{{resource.Velocity}}</td>
          </tr>
        </table>
      </div>
    </div>
</div>

<!-- radar script -->
<script src="js/radar.js"></script>

