<div id="progress-menu-container">
	<div class="modal-header safari_top_radius">
		<div id="progress-title-content">
			<div class="icon-container">
				<span class="glyphicon glyphicon-info-sign" id="progress-title-icon"></span>
			</div>
			<span class="progress-title">Event Progress Information</span>
		</div>	
	</div>

  <div ng-controller="AppCtrl" id="loadingCircle">
    <div layout="row" layout-sm="column" layout-align="space-around">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </div>
	<div id="progress-content">
    <div class="info-row">
  		<div id="event-info-container">
  			<table id="event-info-table"> 
          <tr>
            <th colspan="2">Event Information</th>
          </tr>
          <tr>
            <td class="factor-key">Event Severity</td>
            <td class="factor-value">Level {{vm.factor['Severity Level']}}</td>
          </tr>
          <tr>
            <td class="factor-key">Event Category </td>
            <td class="factor-value">{{vm.factor['Category']}}</td>
          </tr>
          <tr ng-repeat="service in vm.services">
            <td class="factor-key"> Required Service {{$index + 1}}</td>
            <td class="factor-value">{{service['resource']}}</td>
          </tr>
        </table>
  		</div>
      <div id="task-info-container">
        <table id="event-info-table"> 
          <tr>
            <th colspan="2">Task Information</th>
          </tr>
          <tr>
            <td class="factor-key">Num. of resources</td>
            <td class="factor-value">{{vm.totalResource}}</td>
          </tr>
          <tr>
            <td class="factor-key">Average deadline</td>
            <td class="factor-value">{{vm.factor['Deadline']}} mins</td>
          </tr>
          <tr ng-repeat="service in vm.services">
            <td class="factor-key"> Required Service {{$index + 1}}</td>
            <td class="factor-value">{{service['number']}} - {{service['resource']}}</td>
          </tr>
        </table>
      </div>
    </div>
	</div>
</div>

