<md-dialog id="attribute-dialog">
  <md-dialog-content>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="vm.close()">&times;</button>
        <span class="modal-title">Factor Setting</span>
      </div>
      <div class="modal-body">
        <div class="table-container">
          <form name="factorForm" novalidate>
            <table id="factorTable">
              <tr>
                <td class="factor-key"> ID </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value non-input-adjust">{{vm.factor['ID']}}</td>
              </tr>
              <tr>
                <td class="factor-key"> Severity Level </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value"><input type="number" ng-model="vm.factor['Severity Level']" class="factor-input" name="level" required/></td>
              </tr>
              <tr>
                <td class="factor-key"> Category </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value non-input-adjust">
                  <!-- <select ng-model="vm.factor['Category']" ng-options="cate for cate in vm.category_list" ></select> -->
                  <md-select ng-model="vm.factor['Category']" class="factor-cate-input">
                    <md-option ng-value="cate" ng-repeat="cate in vm.category_list">{{cate}}</md-option>
                  </md-select>
                </td>
              </tr>
              <tr>
                <td class="factor-key"> Resource avg. expenditure </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value"><input type="number" ng-model="vm.factor['Resource avg. expenditure']" class="factor-input" name="expenditure" required/></td>
              </tr>
              <tr>
                <td class="factor-key"> Resource avg. velocity </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value"><input type="number" ng-model="vm.factor['Resource avg. velocity']" class="factor-input" name="velocity" required/><span class="factor-unit">km/h</td>
              </tr>
              <tr>
                <td class="factor-key"> Deadline </td>
                <!-- <td class="factor-value"> {{vm.factor[key]}} </td> -->
                <td class="factor-value"><input type="number" ng-model="vm.factor['Deadline']" class="factor-input" name="deadline" required/><span class="factor-unit">mins</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="button event-setting-reset ripple" ng-click="vm.reset()">Reset</button>
            <input ng-disabled="factorForm.deadline.$invalid || factorForm.level.$invalid || factorForm.velocity.$invalid || factorForm.expenditure.$invalid " type="submit" value="ok" class="button event-start" ng-click="vm.startSingleEvent()"></input>
          </div>
        </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>