<div id="progress-menu-container" class="multi-fix-height">
  <div id="progess-menu-pause-icon" ng-show = "multiVm.pauseIcon">
    <blink><i class="fa fa-pause fa-2x" aria-hidden="true"></i></blink>
  </div>
	<div class="modal-header safari_top_radius">
		<div id="progress-title-content">
			<div class="icon-container">
				<span class="glyphicon glyphicon-info-sign" id="progress-title-icon"></span>
			</div>
			<span class="progress-title">Event Progress Information</span>
		</div>	
	</div>

  <div id="progressStatus">
    <div id="stageInfo">
      <blink id="stage"><i class="{{multiVm.stageIcon}}" aria-hidden="true"></i>&nbsp;<b>{{multiVm.stage}}</b></blink>
    </div>
    <div id="progressBar">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
  </div>
  <div class="resouces-info-row">
    <div id="resource-info-container" style="left: -20px;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Resource Info">
          <div>
            <table id="event-info-table"> 
              <tr>
                <th colspan="6" id="resource-header">Allocated Resources Information</th>
              </tr>
              <tr>
                <th>Type</th>
                <th>Facility</th>
                <th id="expenditure-header">Expenditure</th>
                <th>Distance (m)</th>
                <th>Duration (min)</th>
                <th>Event No.</th>
              </tr>
              <tr ng-repeat="resource in multiVm.allocatedResources" class="table-content">
                <td id="type">{{resource.Type}}</td>
                <td class="factor-value" id="facility">{{resource.Facility}}</td>
                <td class="factor-value" id="expenditure" style="text-align: center;">{{resource.Expenditure}}</td>
                <td class="factor-value" id="distance">{{resource.Distance}}</td>
                <td class="factor-value" id="distance">{{resource.Duration}}</td>
                <td class="factor-value" style="text-align: center;">{{resource.Assign}}</td>
              </tr>
            </table>
          </div>
        </md-tab>
        <md-tab label="Event Info">
          <table id="event-info-table" style="width: 445px;"> 
            <tr>
              <th colspan="3" id="resource-header">Event Information</th>
            </tr>
            <tr>
              <th>Event No.</th>
              <th>Severity Level</th>
              <th>Category</th>
            </tr>
            <tr ng-repeat="event in multiVm.eventObj" class="table-content multi-eventInfo">
              <td style="text-align:center;">{{$index+1}}</td>
              <td style="text-align:center;">Level {{event['Severity']}}</td>
              <td style="text-align: center;">{{event['Category']}}</td>
            </tr>
          </table>
        </md-tab>
        <md-tab label="Statistic Info">
          <table id="event-info-table" style="width: 445px;"> 
            <tr>
              <th colspan="4" id="resource-header">Event Information</th>
            </tr>
            <tr>
              <th>Total Facilities Found</th>
              <th>Category</th>
              <th>Avg. Expenditure</th>
            </tr>
            <tr class="table-content" style="border: 1px solid #999;">
              <td >{{multiVm.totalFacility}}</td>
              <td style="text-align: center;">{{singleVm.factor['Category']}}</td>
              <td class="factor-value" style="text-align: center;">{{singleVm.avgExpenditure}}</td>
            </tr>
          </table>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>

<!-- radar script -->
<script src="js/radar.js"></script>

