<div id="progress-menu-container" class="{{multiVm.containerExtend}} {{multiVm.pause}}">
  <div id="progess-menu-pause-icon" ng-show = "multiVm.pauseIcon">
    <blink><i class="fa fa-pause fa-2x" aria-hidden="true"></i></blink>
  </div>
	<div class="modal-header safari_top_radius">
		<div id="progress-title-content">
			<div class="icon-container">
				<span class="glyphicon glyphicon-info-sign" id="progress-title-icon"></span>
			</div>
			<span class="progress-title">Event Progress Information</span>
		</div>	
	</div>

  <div id="progressStatus">
    <div id="stageInfo">
      <blink id="stage"><b>{{multiVm.stage}}</b></blink>
    </div>
    <div id="progressBar">
      <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>
    </div>
    <div id="search_radar">
      <canvas id="radar" width="230" height="230" ng-show = "multiVm.radarShow" ng-cloak ></canvas>
    </div>
    <dot id="dot-search" ng-show = "multiVm.dotShow" ng-cloak></dot>
  </div>
	<div id="progress-content" class="{{multiVm.contentExtend}}">
    <div class="info-row clearfix">
  		<div id="event-info-container"  ng-show = "multiVm.eventShow" ng-cloak>
  			<table id="event-info-table"> 
          <tr>
            <th colspan="2">Event Information</th>
          </tr>
          <tr>
            <td class="factor-key">Event Severity</td>
            <td class="factor-value">Level {{multiVm.factor['Severity Level']}}</td>
          </tr>
          <tr>
            <td class="factor-key">Event Category </td>
            <td class="factor-value">{{multiVm.factor['Category']}}</td>
          </tr>
          <tr ng-repeat="service in multiVm.services">

          </tr>
        </table>
  		</div>
      <div id="task-info-container" ng-show = "multiVm.taskShow" ng-cloak>
        <table id="event-info-table"> 
          <tr>
            <th colspan="2">Task Information</th>
          </tr>
          <tr>
            <td class="factor-key">Num. of resources</td>
            <td class="factor-value">{{multiVm.totalResources}}</td>
          </tr>
          <tr>
            <td class="factor-key">Average deadline</td>
            <td class="factor-value">{{multiVm.factor['Deadline']}} mins</td>
          </tr>
          <tr >
            <td class="factor-key">Ambulance</td>
            <td class="factor-value">{{multiVm.ambulance}}</td>
          </tr>
          <tr >
            <td class="factor-key">Police Car</td>
            <td class="factor-value">{{multiVm.police}}</td>
          </tr>
          <tr >
            <td class="factor-key">Fire Truck</td>
            <td class="factor-value">{{multiVm.fireTruck}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="facility-row">
      <div id="facility-info-container" ng-show = "multiVm.facilityShow" ng-cloak>
        <table id="event-info-table"> 
          <tr>
            <th colspan="2">Facility Resouce Information</th>
          </tr>
          <tr ng-repeat="(key, value) in multiVm.facilitiesSum ">
            <td class="factor-key">{{key}}</td>
            <td class="factor-value">{{value}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div>

    </div>
	</div>
</div>

<!-- radar script -->
<script src="js/radar.js"></script>

