      #map {
        padding: 0;
        display: block;
        margin: 0 auto;
      }

      ng-map{
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }


      .search-container{
        position: absolute;
        z-index: 10;
        margin: 60px 0 10px 25px;
      }

      .search-container > .searchbox-hamburger span{
        background-color: #fff;
        padding: 8px 13px 9px;
      }

      .hamburger-menu{
        cursor:pointer;
        height: 24px;
        font-size: 16px;
      }

    
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        padding: 1px 13px;
        text-overflow: ellipsis;
        width: 300px;
        height: 38px;
        z-index: 10;
      }

      @media only screen and (max-width: 375px) {
        #pac-input {
          width: 200px;
        }
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

      /* header CSS */
      #header{
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 60px;
        background: #00008B;
        position: absolute;
        z-index: 10;
        opacity: 0.8;
        box-shadow: 1px 1px 1px #000000;
      }

      #titleName{
        padding: 15px 0 15px 25px;
        float: left;
        color: #FFFFFF;
        font-size: 18px;
      }

      #titleName #mobile-title{
        display: none;
      }

      #titleName > p{
        margin: 0;
        /*text-shadow: 2px 2px 1px #000000;*/
        -webkit-font-smoothing: auto;
      }



      nav{
        margin:0 auto;
        padding: 3px 15px 0 0;
        /*float:right;*/
        right: 0;
        position: absolute;
        width: 390px;
      }
      nav ul{
        padding:0;
        margin: 0;
        list-style-type: none;
      }
      nav ul li{
        margin: 0 auto;
        padding: 8px 20px;
        float:left;
        font-size: 80%;
      }

      nav ul li span{
        display: block;
        /*padding: 8px 20px;*/
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: 2px 2px 2px #000000;
      }
      nav ul li span:hover{
        color: #F5F5F5;
        text-decoration: none;
      }

      /* Drop down menu */
      nav ul .dropdownList{
        padding: 7px 10px;
      }

      @media only screen and (max-width: 430px) {
         #titleName #standard-title{ 
          display: none;
         }
         #titleName #mobile-title{
          display: block;
         }
      }

      @media only screen and (max-width: 768px) {
        nav{
          width: 300px;
        }
      }
      @media only screen and (max-width: 414px) {
        nav{
          width: 150px;
          padding-right: 0;
        }
      }

      nav ul .menu-btn-group > #events-facilities-container{
        float: left;
        padding: 0 10px;
        display: none;
      }

      @media only screen and (max-width: 660px) {
        nav ul .dropdownList{
          display: none;
        } 
        nav ul .menu-btn-group > #events-facilities-container{
          display: block;
        } 
      }

      nav ul .menu-btn-group{
        float: right;
        padding-top: 15px;
      }


      nav ul .btn-event-adjust{
        background-color: #00006d;
        box-shadow: 1px 1px 1px #000000;
        font-size: 15px;
      }

      nav ul .btn-event-adjust:hover{
        background-color: #000080;
        color: #F5F5F5;
      }

      .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
        background-color: #000080;
      }

      .open > .dropdown-toggle.btn-primary:focus{
        background-color: #000080;
      }

      .dropdown-menu{
        background-color: #00001a;
      }

      .dropdown-menu li{
        padding: 10px 0;
        float: none;
      }

      .dropdown-menu li a{
        color: #FFFFFF;
      }

      .dropdown-menu li a:hover{
        background-color: #000033;
        color: #f5f5f5;
      }

      .dropdown-toggle:focus {
        outline: 0;
        background-color: #00008B;
      } 
      /* End drop down menu */
      /* end header CSS*/

      /* hamburger menu */
      .leftSideNav {
          height: 100%;
          width: 0;
          position: absolute;
          z-index: 1003;
          top: 0;
          left: 0;
          background-color: #00001a;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          opacity: 0.95;
          box-shadow: 0 2px 6px #000000;
      }

      .leftSideNav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      .leftSideNav a:hover, .offcanvas a:focus{
          color: #f1f1f1;
      }

      .leftSideNav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      .rightSideNav {
          height: 100%;
          width: 0;
          position: absolute;
          z-index: 1003;
          top: 0;
          right: 0;
          background-color: #00001a;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          opacity: 0.95;
          box-shadow: 0 2px 6px #000000;
      }

      .rightSideNav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      .rightSideNav a:hover, .offcanvas a:focus{
          color: #f1f1f1;
      }

      .rightSideNav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      @media screen and (max-height: 450px) {
        .leftSideNav {padding-top: 15px;}
        .leftSideNav a {font-size: 18px;}

        .rightSideNav {padding-top: 15px;}
        .rightSideNav a {font-size: 18px;}
      }
      /*end hamburger menu */


      .clearfix:after {
         content: " "; /* Older browser do not support empty content */
         visibility: hidden;
         display: block;
         height: 0;
         clear: both;
      }

